/* AG-GRID THEME CUSTOMIZATION *************************/

.ag-theme-alpine-dark {
  --ag-background-color: #001223;
  --ag-header-background-color: #00162d;
  --ag-odd-row-background-color: #00162d;
  --ag-header-foreground-color: #99a2ab;
  --ag-selected-row-background-color: #597a77;
  --ag-range-selection-border-color: #66c9c6;
  --ag-modal-overlay-background-color: rgba(0, 22, 45, 0.65);
  --ag-row-border-color: transparent;
  --ag-border-color: transparent;
  --ag-row-height: 30px;
}

.ag-theme-alpine-dark .negative {
  --ag-selected-row-background-color: #866e6e;
  --ag-range-selection-border-color: #f08400;
}

.ag-theme-alpine-dark {
  max-width: 2305px;
  height: 100vh;
  margin-inline: auto;
}

/* ag-grid header row **/

.ag-theme-alpine-dark .ag-header-row {
  font-weight: normal;
}

.ag-header-cell-label {
  justify-content: center;
}

.ag-theme-alpine-dark .ag-header-cell-sorted-asc,
.ag-theme-alpine-dark .ag-header-cell-sorted-desc {
  color: white;
}

/* ag-grid cell */

.ag-theme-alpine-dark .ag-cell {
  display: grid;
  place-items: center;
  line-height: 30px;
}

/* ag-grid pagination **/

.ag-theme-alpine-dark .ag-paging-panel {
  justify-content: space-between;
  color: #99a2ab;
}

/* Trading Pair column **/

.symbol-column {
  color: #99a2ab;
  font-size: 1rem;
}

.ag-row-selected .symbol-column {
  color: white;
}

/* Price Change % styles **/

.price-change {
  display: inline;
  padding: 4px 15px;
  font-size: 1rem;
  border-radius: 20px;
  font-weight: bold;
  display: grid;
  grid-template-areas: 'arrow value-change' 'arrow percentage-change';
  align-items: center;
  justify-items: center;
}

.value-change {
  grid-area: value-change;
}

.percentage-change {
  grid-area: percentage-change;
}

.positive .price-change::before {
  content: '↑ ';
  grid-area: arrow;
  margin-right: 20px;
  font-size: 1.5rem;
}

.negative .price-change::before {
  content: '↓ ';
  grid-area: arrow;
  margin-right: 20px;
  font-size: 1.5rem;
}

.positive .price-change {
  color: #99dca5;
}

.negative .price-change {
  color: #e34d4d;
}

.negative.ag-row-selected .price-change {
  color: white;
}

.unchanged .price-change {
  position: relative;
  left: 11px;
}

/* Scrollbar **/

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
  height: 10px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar:hover {
  height: 20px;
}

.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track {
  border: 0.1px solid darkslategray;
}

::-webkit-scrollbar-thumb {
  background: darkslategray;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #203636;
}

/* removing pinned scrollbar */

.ag-horizontal-left-spacer {
  display: none;
}

/* removing default scrollbar to use
ag-grid fake one on webkit-based browsers */

.ag-center-cols-viewport::-webkit-scrollbar {
  display: none;
}

/* Removing ag-grid fake long scrollbar to use
mozilla's default scrollbar. The fake one has issues */

@-moz-document url-prefix() {
  .ag-body-horizontal-scroll-viewport {
    overflow: hidden !important;
  }
}
